##############################
# DevEco Studio
##############################
.deveco/
.doc/
##############################
# VSCode（保留公共配置）
##############################
.vscode/*
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/c_cpp_properties.json

##############################
# Build Output
##############################
**/out/
**/output/
**/bin/
**/obj/

##############################
# Compile Cache
##############################
*.o
*.obj
*.a
*.so
*.dll
*.exe
*.elf
*.bin
*.hex
*.map
*.lst
*.d
*.gcda
*.gcno

##############################
# Python
##############################
__pycache__/
*.pyc

##############################
# Logs
##############################
*.log

##############################
# Temporary
##############################
*.tmp
*.temp
*.bak
*.swp
*.orig

##############################
# Windows
##############################
Thumbs.db
Desktop.ini

##############################
# Linux
##############################
*~

##############################
# macOS
##############################
.DS_Store